a {
  a: url();
  b: url(__IMAGE__);
  c: url(__IMAGE__);
  d: url(__IMAGE__);
  e: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  f: url(https://google.com);
}
